body {
  font-family: 'Raleway', arial, sans-serif;
  font-style: 800;
  background-color: aquamarine;
  color: #000000;
  text-align: center;
}

input {
  height: 50px;
  margin: 10px;
  text-align: center;
}

input[type=submit], input[type=button] {
  width: 150px;
  background-color: #6a6bc7;
  font-size: 1em;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 8px;
}

input[type=submit]:hover, input[type=button]:hover {
  background-color: #53549c;
  cursor: pointer;
}

.hidden {
	display: none;
}

table {
	border: 1px solid white;
	border-spacing: 0px;
}


td, th {
	margin: 3px;
	padding: 3px;
	border: 1px solid white;
}

#info {
  margin-left: 34%;
}