body {
  font-family: 'Raleway', arial, sans-serif;
  font-style: 800;
  background-color: aquamarine;
  color: #000000;
  text-align: center;
}

input {
  height: 50px;
  margin: 10px;
  text-align: center;
}

input[type=submit], input[type=button] {
  width: 100px;
  background-color: #6a6bc7;
  font-size: 1em;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 8px;
}

input[type=submit]:hover, input[type=button]:hover {
  background-color: #53549c;
  cursor: pointer;
}
